#dash-sidebar{
  height: 100%;
  position: fixed;
  background: #130101;
  overflow: hidden;
  color: white;
  text-align: center;
  padding-top:5%;
}

#sidebar .col.l12 {
    border-bottom: 2px solid;
    padding: 10% 0 10% 0;
}

#sidebar .material-icons{
	font-weight: bold;
	margin: 10px;
	cursor: pointer;
}

#sidebar .material-icons:hover{
	color: red;
}

div#profile-id {
    padding: 1%;
    border-bottom: 2px solid #26a69a;
}
