/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#main.container{
	width: 100%;
	padding: 2%;
}

footer{
	width: 100%;
	color:grey;
}
.page-footer{
	background: #efebdc;
	color:grey;
}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
	color:black;
}
nav{
	background: #487AA1;
}

#bottom-arrow{
	background: #487aa1;
}